//fonts

$font-family: "Roboto", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

//colors

$color-primary: hsl(4, 100%, 67%);
$color-dark-slate-grey: hsl(234, 29%, 20%);
$color-charcoal-grey: hsl(235, 18%, 26%);
$color-grey: hsl(231, 7%, 60%);
$color-white: hsl(0, 0%, 100%);
