//fonts

$font-primary: "League Spartan", sans-serif;
$font-weight-regular: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-size: 12px;

//colors

$color-dark-gray: hsl(0, 0%, 63%);
$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);
$color-very-dark-gray: hsl(0, 0%, 27%);
