@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(234, 29%, 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  padding: 5rem;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  padding: 3rem;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 480px) {
  .card {
    flex-direction: column-reverse;
    gap: 0;
    padding: 0;
    border-radius: 0;
  }
}
.card__right {
  width: 50%;
  height: 50rem;
  background-image: url(./assets/images/illustration-sign-up-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 480px) {
  .card__right {
    width: 100%;
    height: 22rem;
    background-size: contain;
    background-position: top;
    background-image: url(./assets/images/illustration-sign-up-mobile.svg);
  }
}
.card__left {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}
@media (max-width: 480px) {
  .card__left {
    width: 100%;
    padding: 2rem 2rem;
    gap: 1rem;
  }
}
.card__left h1 {
  font-size: 5rem;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}
@media (max-width: 480px) {
  .card__left h1 {
    text-align: center;
    font-size: 3.5rem;
  }
}
.card__left p {
  font-size: 1.8rem;
  font-weight: 400;
  color: hsl(234, 29%, 20%);
}
@media (max-width: 480px) {
  .card__left p {
    font-size: 1.5rem;
  }
}
.card__left ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
@media (max-width: 480px) {
  .card__left ul {
    margin-top: 1rem;
  }
}
.card__left ul li {
  font-size: 1.5rem;
  font-weight: 400;
  color: hsl(234, 29%, 20%);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
@media (max-width: 480px) {
  .card__left ul li {
    font-size: 1.2rem;
  }
}
.card__left form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}
@media (max-width: 480px) {
  .card__left form {
    gap: 0.3rem;
  }
}
.card__left form label {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}
@media (max-width: 480px) {
  .card__left form label {
    font-size: 1rem;
  }
}
.card__left form input {
  width: 100%;
  text-indent: 1rem;
  height: 5rem;
  border: 1px solid rgba(145.86, 148.002, 160.14, 0.6);
  border-radius: 1rem;
}
@media (max-width: 480px) {
  .card__left form input {
    height: 4rem;
    border-radius: 0.5rem;
  }
}
.card__left form input:hover {
  cursor: pointer;
}
.card__left form input:focus {
  border: 1px solid rgba(36.21, 39.168, 65.79, 0.1);
}
.card__left form button {
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
  background-color: hsl(234, 29%, 20%);
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
@media (max-width: 480px) {
  .card__left form button {
    height: 4rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
  }
}
.card__left form button:hover {
  background: linear-gradient(to right, #ff6b6b, #ff4ba7);
  box-shadow: 0 4px 15px rgba(255, 107, 107, 0.3);
  border: none;
  cursor: pointer;
}

.card__success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 50rem;
  border-radius: 3rem;
  padding: 7rem;
  position: absolute;
}
@media (max-width: 480px) {
  .card__success {
    padding: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 0;
    align-items: start;
  }
}
.card__success--heading {
  margin-top: 1rem;
  font-size: 5rem;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}
@media (max-width: 480px) {
  .card__success--heading {
    font-size: 4rem;
    margin-top: 3rem;
  }
}
.card__success--text {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: hsl(234, 29%, 20%);
}
@media (max-width: 480px) {
  .card__success--text {
    font-size: 1.6rem;
  }
}
.card__success--button {
  margin-top: 2rem;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}
@media (max-width: 480px) {
  .card__success--button {
    height: 6rem;
    width: 90%;
    font-weight: 700;
    position: absolute;
    bottom: 5rem;
  }
}
.card__success--button:hover {
  background: linear-gradient(to right, #ff6b6b, #ff4ba7);
  box-shadow: 0 4px 15px rgba(255, 107, 107, 0.3);
  border: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
